* {
  box-sizing: border-box;
}


/************************
 * THE ACTUAL TIMELINE *
 **********************/

.timeline {
  background-color: #ecdbc6;
  font-family: Courier, monospace, sans-serif;
  position: relative;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: #616d1d;
  top: 70px;
  bottom: 50px;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
}

.timeline-top-circle {
  padding-top: 40px;
  width: 50%;
  position: relative;
}

.timeline-top-circle::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  right: -13px;
  background-color: #616d1d;
  border: 4px solid #616d1d;
  border-radius: 50%;
  top: 112%;
  z-index: 4;
}

.timeline-bottom-circle {
  padding-bottom: 100px;
  width: 50%;
  position: relative;
}

.timeline-bottom-circle::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  right: -13px;
  background-color: #616d1d;
  border: 4px solid #616d1d;
  border-radius: 50%;
  top: 49%;
  z-index: 4;
}

.timeline-container-left {
  padding: 0px 60px 0px 20px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container-right {
  padding: 10px 20px 0px 60px;
  position: relative;
  background-color: inherit;
  width: 50%;
  left: 50%;
}

/*******************************
 * THE TIMELINE'S IMAGE MARKERS *
 ******************************/

.timeline-container-left.romania {
  margin-top: 90px;
}

.timeline-container-left.romania::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  right: -40px;
  background-color: inherit;
  border: 4px solid #616d1d;
  top: 34%;
  border-radius: 5%;
  z-index: 1;
  background: url("../../images/romanianconcertslogo.jpg") no-repeat;
}

.timeline-container-right.rw2013::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  left: -40px;
  background-color: inherit;
  border: 4px solid #616d1d;
  top: 30%;
  border-radius: 5%;
  z-index: 1;
  background: url("../../images/rockwerchter2013logo.jpg") no-repeat;
}

.timeline-container-left.rw2015::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  right: -40px;
  background-color: inherit;
  border: 4px solid #616d1d;
  top: 26%;
  border-radius: 5%;
  z-index: 1;
  background: url("../../images/rockwerchter2015logo.jpg") no-repeat;
}

.timeline-container-right.nosalive::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  left: -40px;
  background-color: inherit;
  border: 4px solid #616d1d;
  top: 30%;
  border-radius: 5%;
  z-index: 1;
  background: url("../../images/nosalivelogo.jpg") no-repeat;
}

.timeline-container-left.rw2017::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  right: -40px;
  background-color: inherit;
  border: 4px solid #616d1d;
  top: 23%;
  border-radius: 5%;
  z-index: 1;
  background: url("../../images/rockwerchter2017logo.jpg") no-repeat;
}

.timeline-container-right.ps2018::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  left: -40px;
  background-color: inherit;
  border: 4px solid #616d1d;
  top: 22%;
  border-radius: 5%;
  z-index: 1;
  background: url("../../images/primaverasoundlogo.jpg") no-repeat;
}

.timeline-container-left.rw2018::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  right: -40px;
  background-color: inherit;
  border: 4px solid #616d1d;
  top: 23%;
  border-radius: 5%;
  z-index: 1;
  background: url("../../images/rockwerchter2018logo.jpg") no-repeat;
}

/************************************
 * CONTENT FOR EACH OF THE YEARS *
 ***********************************/

.content {
  padding: 20px 30px;
  background-color: inherit);
  position: relative;
  border-radius: 6px;
  text-align:left;
}

.content-border {
  border: 1px solid #616d1d;
}

.year-header {
  font-weight: 900;
  font-size: 2em;
  color: #f8f3ec;
  text-align: center;
  margin-bottom: 0.5em;
  background-color: #616d1d;
  padding: 4px 0px;
}

.concerts-header {
  font-weight: 900;
  font-size: 1.8em;
  color: #e4563e;
  text-align: center;
  margin-bottom: 0.4em;
}

.concerts-container-mob {
  display: none;
}

.concerts-container {
  padding: 20px;
}

.fivestars-concert {
  font-size: 1.5em;
  color: #39364a;
  font-weight: 800;
  padding: 0px 10px;
}

.fourstars-concert {
  font-size: 1.27em;
  color: #39364a;
  font-weight: 800;
  padding: 0px 10px;
}

.threestars-concert {
  font-size: 1em;
  color: #39364a;
  font-weight: 800;
  padding: 0px 10px;
}

.twostars-concert {
  font-size: 0.75em;
  color: #39364a;
  font-weight: 800;
  padding: 0px 10px;
}

.onestar-concert {
  font-size: 0.6em;
  color: #39364a;
  font-weight: 800;
  padding: 0px 10px;
}

.bull {
  margin-left: 3px;
  margin-right: 3px;
}

.double-bull {
  font-size: 1.3em;
}


/*****************
 * MEDIA QUERIES *
 *****************/

@media screen and (min-width: 1090px) and (max-width: 1360px) {


  .timeline-container-left {
    padding: 0px 50px 0px 10px;
  }

  .timeline-container-right {
    padding: 10px 10px 0px 50px;
  }
  
}

@media screen and (max-width: 1089px) {

  .timeline::after {
    left: 71px;
  }

  .timeline-container-left.romania {
    margin-top: 60px;
  }

  .timeline-container-left.romania::before {
    top: 38%;
  }

  .timeline-container-left.rw2015::before {
    top: 27%;
  }

  .timeline-container-left.rw2017::before {
    top: 27%;
  }

  .timeline-container-left.rw2018::before {
    top: 27%;
  }

  .timeline-bottom-circle::after,
  .timeline-top-circle::after {
    left: 58px;
  }

  .content {
    padding-left: 100px;
    padding-bottom: 50px;
  }

  .timeline-container-right,
  .timeline-container-left {
    padding: 10px 20px 0px 60px;
  }

  .timeline-container-right {
    left: 0;
  }

  .container-left {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container-right {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .timeline-container-left,
  .timeline-container-right {
    width: 100%;
  }

  .timeline-container-left::before {
    left: 30px;
  }

  .timeline-container-right::before {
    left: 30px !important;
  }
}

@media screen and (min-width: 621px) and (max-width: 926px) {

  .timeline-container-left.romania {
    margin-top: 60px;
  }

  .timeline-container-left.romania::before {
    top: 36%;
  }
}

@media screen and (max-width: 620px) {
  
  .timeline::after {
    left: 51px;
    top: 50px;
    width: 3px;
  }

  .timeline-bottom-circle {
    padding-bottom: 80px;
  }

  .timeline-top-circle::after {
    width: 16px;
    height: 16px;
    left: 41.49px;
    top: 90%;
  }

  .timeline-bottom-circle::after {
    width: 16px;
    height: 16px;
    left: 41.49px;
    top: 37%;
  }

  .timeline-container-left.romania {
    margin-top: 20px;
  }

  .content {
    padding: 20px 20px 20px 60px;
  }

  .div.concerts-container {
    max-width: 400px;
    height: 100%;
  }

  .concerts-container-mob {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: black !important;
    font-size: 0.6em;
    padding: 5px 5px 10px 5px;
    text-align: center;
  }

  .year-header {
    font-size: 1.1em;
  }

  .concerts-header {
    font-size: 1em;
    margin-bottom: 1em;
  }

  .concerts-container {
    display: none;
  }

  .timeline-container.romania > .content {
    margin-top: 10px;
  }

  .timeline-container-left.romania::before {
    width: 56px !important;
    height: 56px !important;
    left: 23px;
    border: 3px solid #616d1d;
    top: 43%;
    background: url("../../images/romanianconcertslogo-mob.jpg") no-repeat;
  }

  .timeline-container-right.rw2013::before {
    width: 56px;
    height: 56px;
    left: 23px !important;
    border: 3px solid #616d1d;
    top: 31%;
    background: url("../../images/rockwerchter2013logo-mob.jpg") no-repeat;
  }

  .timeline-container-left.rw2015::before {
    width: 56px !important;
    height: 56px !important;
    left: 23px;
    border: 3px solid #616d1d;
    top: 31%;
    background: url("../../images/rockwerchter2015logo-mob.jpg") no-repeat;
  }

  .timeline-container-right.nosalive::before {
    width: 56px;
    height: 56px;
    left: 23px !important;
    border: 3px solid #616d1d;
    top: 33%;
    background: url("../../images/nosalivelogo-mob.jpg") no-repeat;
  }

  .timeline-container-left.rw2017::before {
    width: 56px !important;
    height: 56px !important;
    left: 23px;
    border: 3px solid #616d1d;
    top: 27%;
    background: url("../../images/rockwerchter2017logo-mob.jpg") no-repeat;
  }

  .timeline-container-right.ps2018::before {
    width: 56px;
    height: 56px;
    left: 23px !important;
    border: 3px solid #616d1d;
    top: 23%;
    background: url("../../images/primaverasoundlogo-mob.jpg") no-repeat;
  }

  .timeline-container-left.rw2018::before {
    width: 56px !important;
    height: 56px !important;
    left: 23px;
    border: 3px solid #616d1d;
    top: 27%;
    background: url("../../images/rockwerchter2018logo-mob.jpg") no-repeat;
  }
}
